.login {
    position: relative;
    text-align: center;
    width: 100%;
}

.login p {
    padding-top: 10px;
}

.login .form-field-wrapper {
    margin-top: 10px;
}

.login .form-field-label {
    font-weight: 600;
}

.login button {
    margin-top: 20px;
}

@media (max-width: 600px) and (orientation:portrait) {
    .login button {
        display: block;
        width: 100%;
    }
}