.flag-list .flag {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url('../../assets/flags.png') no-repeat;
  transform: scale(0.6, 0.5);
  margin-right: -5px;
  margin-top: -10px;
  margin-bottom: -12px;
  position: relative;
}

.flag-list .flag.flag-es {
  background-position: -32px 0;
}

.flag-list .flag.flag-ru {
  background-position: 0 -64px;
}

.flag-list .flag.flag-it {
  background-position: -32px -32px;
}

.flag-list .flag.flag-en {
  background-position: 0 -32px;
}

.flag-list .flag.flag-de {
  background-position: 0 0;
}

.flag-list .flag.flag-pl {
  background-position: -64px -32px;
}

.flag-list .flag.flag-fr {
  background-position: -64px 0;
}

.flag-list .flag.flag-nl {
  background-position: -32px -64px;
}

.flag-list .flag-iso {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3cab6a;
  padding: 1px 6px;
  font-size: 0.8rem;
  color: #000000;
  margin: 6px 0 0 6px;
  line-height: 2;
  background-color: #ffffff;
  text-transform: uppercase;
}