
.availability-calendar .react-datepicker {
  border: none;
}

.availability-calendar .react-datepicker__navigation--previous {
  border-right-color: #3cab6a;
}

.availability-calendar  .react-datepicker__navigation--next {
  border-left-color: #3cab6a;
}

.availability-calendar .react-datepicker__header {
  background: none;
  border: none;
}

.availability-calendar .react-datepicker__current-month {
  text-transform: capitalize;
  color: #3cab6a;
  font-weight: 700;
}

.availability-calendar .react-datepicker__day-names {
  border: none;
}

.availability-calendar .react-datepicker__day-name {
  width: 35px;
  height: 33px;
  padding: 3px;
  text-align: center;
  line-height: 4;
  font-weight: 700;
  text-transform: capitalize;
}

.availability-calendar .react-datepicker__week {
  border-bottom: 1px solid #ccc;
}
.availability-calendar .react-datepicker__week:first-of-type {
  border-top: 1px solid #ccc;
}

.availability-calendar .react-datepicker__day {
  width: 35px;
  height: 33px;
  padding: 5px;
  vertical-align: top;
  text-align: right;
  line-height: 1;
  font-weight: 700;
  border-right: 1px solid #ccc;
  margin: 0;
}

.availability-calendar .react-datepicker__day--disabled {
  color: #bbb;
  background-color: #f8f8f8;
}
.availability-calendar .react-datepicker__day:hover,
.availability-calendar .react-datepicker__day:focus,
.availability-calendar .react-datepicker__day--selected {
  border-radius: 0;
  outline: none;
}

.availability-calendar .react-datepicker__day:hover,
.availability-calendar .react-datepicker__day--selected {
  background-color: #3cab6a;
  color: #fff;
}

.availability-calendar .calendar-legend ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.availability-calendar .legend-color {
  width: 16px;
  height: 14px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  top: -2px;
  margin-right: 4px;
  border: 1px solid #fff;
}

.availability-calendar .legend-color {
  border: 1px solid #ccc;
}

.availability-calendar .legend-color.available-day {
  background: #fff;
}
.availability-calendar .legend-color.selected-day {
  background: #3cab6a;
}
.availability-calendar .legend-color.not-available-day {
  background: #f8f8f8;
}
.availability-calendar .legend-color.special-rate-day {
  background: #dff2e7;
}
.availability-calendar .legend-color.available-places-day {
  background: #fff;
  position: relative;
  border: 0;
}

.availability-calendar .legend-color.available-places-day i {
  position: absolute;
}
.product {
  font-size: 14px;
  margin-bottom: 0.75em;
}

.product label {
  margin: 4px 0;
  padding: 3px 9px;
}

.product .product-radio {
  margin: 4px 0 0;
  padding: 0;
}

.product .product-name {
  position: relative;
  left: 4px;
  transition: all .25s ease;
  font-size: 1.075em;
}

.product .more-info-link {
  margin-left: 4px;
  color: #3cab6a;
  font-weight: 400;
}

.product .more-info-link:hover{
  text-decoration: none;
}

.product .more-info-link span {
  margin-left: 4px;
}


.product .more-info-container {
  background: #faf9f2;
  border-radius: 4px;
  margin-top: 10px!important;
  margin-left: 27px;
  padding: 0 0 0 10px;
  border: 1px solid #e1dbb6;
}

.product .more-info {
  margin-left: 27px;
}

.product .more-info-body {
  border: 0 solid;
  padding: 5px 15px 15px;
  margin-bottom: 10px;
}

.product .more-info-body h4 {
  font-size: 1.075em;
  margin-top: 15px;
  margin-bottom: 3px;
  font-weight: 700;
  line-height: 1.1;
}

.product .more-info-body ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0.75em;
  padding: 0;
}

.product .more-info-body li {
  list-style: none;
  line-height: 23px;
  font-size: 13px;
  margin: 0;
}

.product .more-info-body li::before {
  font-family: FontAwesome,sans-serif;
  content: "\f00c";
  left: -20px;
  margin-right: 3px;
}

.session {
  padding: 4px 4px 4px 6px;
  float: left;
  margin: .3% .4%;
  font-weight: 700;
  position: relative;
  text-align: center;
  font-size: 15px;
  transition: all .5s;
  max-width: 143px;
  border: 1px solid #ccc;    
  border-radius: 2px;
  color: #3cab6a;
  font-weight: 400;
}

.session:hover,
.session.selected {
  background: #3cab6a;
  color: #fff;
}

.session > div {
  cursor: pointer;
  padding: 2px 10px;
  text-decoration: none;
  white-space: nowrap;
  margin: 0;
  display: inline-block;
}

.session i {
  color: #ccc;
}

.session .session-time {
  margin-right: 2px;
}

.session .separator-ticket {
  border-left: 1px dotted #fff;
  height: 100%;
  margin: 0 6px 0 6px;
  width: 1px;
  position: absolute;
  top: 0;
}

.session .session-places {
  margin-left: 6px;
  min-width: 48px;
  text-align: center;
  display: inline-block;  
}

.counter button {
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  border-radius: 4px;
  width: 32px;
  border: 1px solid #ccc;
}

.counter:not(.disabled) button:hover {
  background-color: #7ab6e4;
}

.counter .counter-decrement button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.counter .counter-increment button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.counter .value {
  display: inline-block; 
  height: 29px;
  width: 100%;
  min-width: 40px;
  max-width: 60px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  border-right-width: 0;
  border-left-width: 0;
}

.rate {
  font-size: 16px;
  text-align: center;
  padding: 15px;
}

.rate .rate-header {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 10px;
  padding-bottom: 4px;
}

.rate .rate-header .rate-price {
  margin-left: 4px;
  font-weight: 700;
}

.rate .rate-counter {
  margin: 0 auto;
  max-width: 150px;
}

.rates-container .rate {
  min-width: 130px;
  max-width: 150px;
  width: 100%;
}

.grouped-rates-container .show-rates-hidden {
  margin-top: 10px;
}

.grouped-rates-container .show-rates-hidden input {
  margin-right: 10px;
}

.grouped-rates-container .grouped-rates-hidden {
  background: #faf9f2;
  border-radius: 4px;
  margin-top: 10px;
  padding: 0;
  border: 1px solid #e1dbb6;  
}
/**
 * Default colors:
 *  - Highlighted: dff2e7
 *  - Selected: 3cab6a
 *  - Text strong: 000
 *  - Text: 3cab6a
 *  - Text title: 000
 *
 */

.booking-widget {
  position: relative;
}

.booking-widget .bw-head-title h3 {
  margin: 0 0 2px;
  font-size: 22px;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
  padding-left: 32px;
}

.booking-widget .bw-sidebar ul,
.booking-widget .bw-main ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.booking-widget .bw-sidebar .bw-navstep {
  margin: 0 0 2px 0;
}

.booking-widget .bw-navstep .bw-navstep-header {
  cursor: pointer;
  background: #fff;
  border: 1px solid #3cab6a;
  position: relative;
  left: 0;
  transition: all 0.25s linear;
  height: 105px;
  color: #333;
}

.booking-widget .bw-navstep .bw-navstep-header > div {
  float: left;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.booking-widget .bw-navstep .bw-navstep-number {
  padding: 0 32px 0 32px;
  font-size: 58px;
  color: #fff;
  background: #3cab6a;
  float: left;
  height: 100%;
}

.booking-widget .bw-navstep .bw-navstep-header .step-icon {
  padding: 38px 16px 32px 16px;
  font-size: 22px;
  color: #3cab6a;
  position: absolute;
  right: 0;
}

.booking-widget .fa-rotate-45 {
  transform: rotate(-45deg);
}

.booking-widget .bw-navstep .bw-navstep-text {
  position: relative;
  font-size: 16px;
  height: 100%;
  padding-top: 8px;
  width: 50%;
  float: left;
  margin-left: 16px;  
}

.booking-widget .bw-navstep .bw-navstep-text h4 {
  font-weight: 700;
  text-transform: lowercase;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.booking-widget .bw-navstep-text p {
  font-weight: 400;
  color: #3cab6a;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0 10px;
  text-transform: uppercase;
  overflow: hidden;
}

.booking-widget
  .bw-navstep:not(.disabled):not(.selected)
  .bw-navstep-header:hover {
  background: #dff2e7;
  color: #000;
}

.booking-widget .bw-navstep.selected .bw-navstep-header {
  background: #dff2e7;
  color: #000;
}

.booking-widget .bw-navstep.selected .bw-navstep-header,
.booking-widget .bw-navstep.disabled .bw-navstep-header {
  cursor: default;
}

.booking-widget .bw-navstep.selected .bw-navstep-number {
  color: #fff;
}

.booking-widget .bw-navstep.selected .bw-navstep-text h4,
.booking-widget .bw-navstep:not(.disabled):hover .bw-navstep-text h4 {
  color: #000;
}

.booking-widget .bw-navstep-text .tickets-availables {
  color: #000;
  text-transform: none;
  font-size: 12px;
  margin-left: 12px;
  display: inline-block;
}
.booking-widget .bw-navstep-text .tickets-availables i {
  margin: 0 3px;
}

.booking-widget .bw-navstep-component {
  margin-top: 16px;
}

.booking-widget .bw-total-amount {
  margin: 10px 0 2px;
  text-align: center;
  font-weight: 700;
  padding: 5px;
  font-size: 18px;
  margin: 10px 0 5px 0;
}

.booking-widget .bw-confirm {
  text-align: center;
}

.booking-widget .bw-confirm button {
  font-weight: 400;
  color: #fff;
  background-color: #3cab6a;
  border-radius: 4px;
}

.booking-widget .bw-confirm button:disabled {
  background-color: #dff2e7;
}

@media (min-width: 960px) {
  .booking-widget .bw-main > ul {
    padding-left: 32px;
  }

  .booking-widget .bw-navstep-component {
    margin-top: 0;
  }
}

@media (min-width: 960px) {
  .booking-widget .bw-main > ul {
    padding-left: 32px;
  }

  .booking-widget .bw-navstep-component {
    margin-top: 0;
  }

  .booking-widget .bw-navstep .bw-navstep-header .step-icon {
    padding: 32px;
    font-size: 36px;
  }
}

.checkout-widget {
  color: #000;
  font-size: 14px;
}

.checkout-widget .cw-cart-text {
  font-weight: 400;
}

.checkout-widget .cw-cart-text-highlight {
  font-weight: 700;
}

.checkout-widget .cw-cart-lineitem-description {
  background-color: #dff2e7;
  padding: 10px 15px 10px 10px;
  color: #000;
}

.checkout-widget .cw-cart-lineitem-delete a {
  background-color: transparent;
}

.checkout-widget .cw-cart-lineitem-title {
  font-size: 1.3em;
  font-weight: 700;
}

.checkout-widget .cw-cart-lineitem-detail-title {
  color: #3cab6a;
  margin-right: 10px;
}

.checkout-widget .cw-cart-lineitem-detail-info-title {
  margin-left: 0;
}

.checkout-widget .cw-cart-lineitem-detail-info .cw-cart-lineitem-detail-info-title:not(:first-child) {
  margin-left: 10px;
}

.checkout-widget .cw-cart-lineitem-detail-info-content {
  color: #3cab6a;
}

.checkout-widget .cw-cart-lineitem-rates {
  padding: 20px 15px 10px 15px;
  border-bottom: 1px dotted #3cab6a ;
}

.checkout-widget .cw-cart-lineitem-rates .cw-cart-lineitem-rate:not(:first-child) {
  margin-top: 10px;
}

.checkout-widget .cw-cart-lineitem-rate-qty {
  text-align: center;
  border-top: 1px dotted #dff2e7;
  border-bottom: 1px dotted #dff2e7;
  margin-left: 30px;
  padding: 15px 0px;
}

.checkout-widget .cw-cart-lineitem-rate-total-price {
  text-align: center;
  border-bottom: 1px dotted #dff2e7;
  margin-left: 30px;
  margin-top: 15px;
  padding: 0 0 15px 0;
}

.checkout-widget .cw-cart-lineitem-total-price {
  padding: 10px 15px 10px 10px;
  color: #3cab6a;
  text-align: center;
}

.checkout-widget .cw-cart-total-price-container {
  text-align: center;
  padding: 10px 15px 10px 10px;
}

.checkout-widget .cw-cart-total-price {
  padding: 10px;
  background-color: #ccc;
  border-radius: 4px;
  display: inline-block;
  margin: 0 auto;
  font-size: 1.1em;
}

.checkout-widget .cw-form-section-header-title {
  margin: 15px 0;
  padding-top: 6px;
  border-top: 2px solid #3cab6a;
  font-weight: 700;
  font-size: 1.1em;
  display: block;
}    

.checkout-widget .cw-form-section-header-title i {
  color: #3cab6a;
} 

.checkout-widget .cw-form-field label {
  font-size: 14px;
  font-weight: 700;  
}

.checkout-widget .cw-form-field label i {
  color: #3cab6a;
}

.checkout-widget .cw-form-field-control {
  margin-top: 2px;
  border: solid 1px #ccc;
  height: 30px;
  border-radius: 4px;
}

.checkout-widget .cw-form-field-error {
  display: block;
  color: #EF501F;
  font-weight: 400 !important;
}

.checkout-widget .cw-form-field .intl-tel-input {
  display: block;
}

.checkout-widget .cw-form-field-promo {
  display: table;
}

.checkout-widget .cw-form-field-promo .cw-form-field-control {
  width: auto;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.checkout-widget .cw-form-field-promo-button {
  line-height: 30px;
  border: 1px solid;
  border-left: 0px;
  margin-top: 2px;
  background-color: #3cab6a;
  color: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.checkout-widget .cw-form-field-promo-button:active,
.checkout-widget .cw-form-field-promo-button:hover {
  background-color: #32A160; 
}

.checkout-widget .cw-form-field-check-label > input {
  margin-right: 8px;
  background-color: #fff;
}

.checkout-widget .cw-form-field-diseases,
.checkout-widget .cw-form-field-invoice > div {
  margin-top: 15px;
  background-color: #3cab6a;
  color: #fff;
  border-radius: 4px;
  padding: 6px 10px;
}

.checkout-widget .cw-form-field-invoice > div {
  display: inline-block;
}

.checkout-widget .cw-form-field-diseases label,
.checkout-widget .cw-form-field-invoice label {
  font-weight: 400;
}

.checkout-widget .cw-form-field-diseases label i {
  color: #fff;
}

.checkout-widget .cw-form-field-observations .cw-form-field-control {
  height: auto;
}

.checkout-widget .cw-form-field-address {
  margin-bottom: 4px;
}

.checkout-widget .cw-form-field-legal-terms label {
  font-weight: 400;
}

.checkout-widget .cw-form-field-legal-terms .cw-form-check-field-info {
  font-size: 0.8em;
}

.checkout-widget .cw-form-field-legal-terms .cw-form-check-field-info p {
  margin: 0;
}

.checkout-widget .cw-form-field-legal-terms > div:last-child span {
  display: block;
  border-top: 1px solid #ccc;
}

.checkout-widget .cw-form-submit {
  text-align: center;
  margin-top: 15px;
}

.checkout-widget .cw-form-submit-button {
  display: inline-block;
  background-color: #3cab6a;
  color: #fff;
  border-radius: 4px;
  line-height: 30px;
  margin-bottom: 15px;
} 

.checkout-widget .cw-form-submit-button:active,
.checkout-widget .cw-form-submit-button:hover {
  background-color: #32A160; 
}

@media (min-width: 960px) {
  .checkout-widget .cw-cart-lineitem-detail-info-title {
    margin-left: 10px;
  }

  .checkout-widget .cw-cart-lineitem-rate-qty,
  .checkout-widget .cw-cart-lineitem-rate-total-price {
    text-align: left;
  }

  .checkout-widget .cw-cart-lineitem-rate-qty,
  .checkout-widget .cw-cart-lineitem-rate-total-price {
    border: none;
    margin-left: 0;
    padding: 0 0 0 30px;
    margin-top: 0;
  }

  .checkout-widget .cw-cart-lineitem-total-price {
    text-align: right;
  }

  .checkout-widget .cw-cart-total-price-container {
    text-align: right;
  }
  
  .checkout-widget .cw-cart-total-price {
    text-align: left;
  }  

  .checkout-widget .cw-form-field-legal-terms .cw-form-check-field-info {
    padding-left: 40px;
  }  
}


/*# sourceMappingURL=main.1cd03da6.chunk.css.map*/