.booking-management {
    position: relative;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.booking-management .booking-details {
    margin: auto 5px 10px 5px;
    text-align: center;
}

.booking-management .booking-details .ratesbm {
    position: relative;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.booking-management .booking-details .ratesbm .ratebm {
    font-size: .875rem;
    text-align: center;
}

.booking-management .uk-first-column .booking-details p,
.booking-management .uk-first-column .booking-details strong,
.booking-management .uk-first-column .booking-details li {

    font-size: .875rem !important;
}

.booking-management .booking-details ul {
    background-color: #DFF2E7;
}

.booking-management .uk-list {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.booking-management .booking-actions {
    text-align: center;
}

.booking-management .cancel-request-form {
    padding-right: 20px;
}

.booking-management .booking-actions button,
.booking-management .invoice-request-form .uk-margin button {
    display: inline-block;
    margin: auto 5px 10px 5px;
}

.booking-management .invoices,
.booking-management .invoice-request-form,
.booking-management .cancel-request-form {
    padding: auto, 15px, auto, 80px;
}

.booking-management .booking-actions button {
    width: 48%;
}

.booking-management .uk-first-column .booking-actions button {
    width: 96%;
}

.booking-management form .booking-actions,
.booking-management .invoice-request-form .uk-margin {
    margin-top: 15px;
    text-align: center;
}

.booking-management button.fa {
    height: 34px;
}

.booking-management .strong {
    font-weight: 600;
    color: #333;
}

.booking-management .form-field-condition-label {
    margin-left: 5px;
}

@media (max-width: 600px) and (orientation:portrait) {

    .booking-management .booking-actions button,
    .booking-management .invoice-request-form .uk-margin button,
    .booking-management .uk-first-column .booking-actions button {
        display: block;
        width: 96%;
    }
}