.order-result-widget {
  color: #000;
}

.order-result-widget .ow-container > * {
  margin-bottom: 15px;
}

.order-result-widget .ow-alert-payment-accepted {
  background-color: #99d6b0;
}

.order-result-widget .ow-alert-payment-accepted .volcano-alert-icon {
  background-color: #3dad6c;
}

.order-result-widget .ow-alert-contact-info {
  background-color: #b0c4bd;
}

.order-result-widget .ow-alert-contact-info .volcano-alert-icon {
  background-color: #3b6b5b;
  padding: 4px 6px;
}

.order-result-widget .ow-contact-email,
.order-result-widget .ow-booking-pdf-product {
  color: #d84b55;
}

.order-result-widget .ow-booking {
  border: 1px solid #3cab6a;
  border-radius: 8px;
  padding: 25px;
  text-align: center;
  font-weight: 500;
}

.order-result-widget .ow-booking > * {
  margin-bottom: 15px;
}

.order-result-widget .ow-booking .ow-booking-label {
  font-size: 1.1em;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
}

.order-result-widget .ow-booking .ow-booking-label-title {
  flex: 0 0 100%;
  font-weight: 700;
  text-align: center;
}

.order-result-widget .ow-booking .ow-booking-label-content {
  flex: 0 0 100%;
  text-align: center;
  color: #d84b55;
}

.order-result-widget .ow-booking .ow-booking-download {
  border-bottom: 1px dashed #3cab6a;
  padding-bottom: 35px;
  margin-bottom: 35px;
}

@media (min-width: 960px) {
  .order-result-widget .ow-booking .ow-booking-label-title {
    flex: 0 0 50%;
    text-align: right;
  }
  
  .order-result-widget .ow-booking .ow-booking-label-content {
    flex: 0 0 auto;
    text-align: left;
    margin-left: 5px;
  }
}