/**
 * Default colors:
 *  - Highlighted: dff2e7
 *  - Selected: 3cab6a
 *  - Text strong: 000
 *  - Text: 3cab6a
 *  - Text title: 000
 *
 */

.booking-management-widget {
    position: relative;
    color: #333;
}

.booking-management-widget .title {
    text-align: center;
    margin-bottom: 20px;
    margin-bottom: 0px;
}

.booking-management-widget .title h1 {
    margin: 0px;
    font-size: 22px;
    text-transform: uppercase;
    color: #3cab6a;
}

.booking-management-widget .title i {
    padding: 38px 16px 32px 16px;
    font-size: 30px;
    color: #3cab6a;
}

.booking-management-widget h2 {
    color: #666;
    font-weight: 600;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
}

.booking-management-widget p {
    margin: 0 0 10px 0px;
    font-size: 14px;
}

.booking-management-widget .fa-rotate-45 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.booking-management-widget .uk-text-success,
.booking-management-widget .uk-text-danger {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}