
.counter button {
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  border-radius: 4px;
  width: 32px;
  border: 1px solid #ccc;
}

.counter:not(.disabled) button:hover {
  background-color: #7ab6e4;
}

.counter .counter-decrement button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.counter .counter-increment button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.counter .value {
  display: inline-block; 
  height: 29px;
  width: 100%;
  min-width: 40px;
  max-width: 60px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  border-right-width: 0;
  border-left-width: 0;
}

.rate {
  font-size: 16px;
  text-align: center;
  padding: 15px;
}

.rate .rate-header {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 10px;
  padding-bottom: 4px;
}

.rate .rate-header .rate-price {
  margin-left: 4px;
  font-weight: 700;
}

.rate .rate-counter {
  margin: 0 auto;
  max-width: 150px;
}

.rates-container .rate {
  min-width: 130px;
  max-width: 150px;
  width: 100%;
}

.rate .rate-footer .rate-footer-age-range,
.rate .rate-footer .rate-footer-age-limit {
  display: block;
  font-size: .7em;
  margin-top: 4px;
}

.rate .rate-footer .rate-footer-age-limit {
  border: 1px solid #3cab6a;
  border-radius: 4px;
  color: #3cab6a;
}

.grouped-rates-container .show-rates-hidden {
  margin-top: 10px;
}

.grouped-rates-container .show-rates-hidden input {
  margin-right: 10px;
}

.grouped-rates-container .grouped-rates-hidden {
  background: #faf9f2;
  border-radius: 4px;
  margin-top: 10px;
  padding: 0;
  border: 1px solid #e1dbb6;  
}