.session {
  padding: 4px 4px 4px 6px;
  float: left;
  margin: .3% .4% .3% 0;
  font-weight: 700;
  position: relative;
  text-align: center;
  font-size: 15px;
  transition: all .5s;
  max-width: 143px;
  border: 1px solid #ccc;    
  border-radius: 2px;
  color: #3cab6a;
  font-weight: 400;
}

.session:hover,
.session.selected {
  background: #3cab6a;
  color: #fff;
}

.session > div {
  cursor: pointer;
  padding: 2px 10px;
  text-decoration: none;
  white-space: nowrap;
  margin: 0;
  display: inline-block;
}

.session i {
  color: #ccc;
}

.session .session-time {
  margin-right: 2px;
}

.session .separator-ticket {
  border-left: 1px dotted #fff;
  height: 100%;
  margin: 0 6px 0 6px;
  width: 1px;
  position: absolute;
  top: 0;
}

.session .session-places {
  margin-left: 6px;
  min-width: 48px;
  text-align: center;
  display: inline-block;  
}